.submitButton {
  background-color: forestgreen;
  color: wheat;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 80%;
}

.signUpBox {
  position: absolute;
  margin-left: 50%;
  background-color: lightgray;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  border-radius: 20px;
  margin-left: 35%;
  margin-top: 10%;
}

.Username {
  margin-bottom: 20px;
}

.email {
  color: black;
}

.Password {
  margin-top: 20px;
}

.background {
  position: fixed;
  margin: 100%;
}

.LoggingInButton {
  text-decoration: none;
  color: white;
  background-color: seagreen;
  padding: 20px;
  opacity: 0.7;
  border-radius: 20px;
}
.WebsiteButton {
  text-decoration: none;
  background-color: seagreen;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  margin-left: 0%;
  margin-top: -35px;
  font-size: 10px;
}

.WebsiteButton:hover {
  color: BROWN;
}

.LoggingInButton:hover {
  color: BROWN;
}

.homeBar {
  position: sticky;
  color: black;

  margin-left: 25vw;
  padding-right: 40vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.textInTweet {
  color: black;
  z-index: 1;
}

.tweet {
  position: absolute;
  left: 30%;
  top: 0;
}

.tweetBox {
  position: absolute;
  width: 30vw;
  height: 25vh;
  background-color: gray;
  z-index: 0;
  margin-top: 5vh;
}

.naamInTweet {
  margin-left: 5%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.profileBar {
  position: absolute;
  width: 30vw;
  height: 30vh;
  margin-bottom: 20vh;
  background-color: skyblue;
  z-index: -1;
}

.actions {
  padding: 20px;
  position: sticky;
  top: 0;
}

.fa {
  color: red !important; 
  font-size: 40px;
  cursor: pointer;
  user-select: none;
  position: absolute;
  inset-block-start: 220px;
  right: -70px;
}

.like-button {
  position: absolute;
  inset-block-start: 215px;
  right: -100px;
  color: red !important;
}

.makeChirpifyButton{
  margin-left: 0;
  margin-top: 5%;
  position: sticky;
}

.makeChirpifyBox{
  margin-left: 0;
  margin-top: 5%;
  position: sticky;
  padding: 50px;
  resize: none;
}
