.submitButton {
  background-color: forestgreen;
  color: wheat;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 80%;
}

.signUpBox {
  position: absolute;
  margin-left: 50%;
  background-color: lightgray;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  border-radius: 20px;
  margin-left: 35%;
  margin-top: 10%;
}

.Username {
  margin-bottom: 20px;
}

.email {
  color: black;
}

.Password {
  margin-top: 20px;
}

.background {
  position: fixed;
  margin: 100%;
}

.LoggingInButton {
  text-decoration: none;
  color: white;
  background-color: seagreen;
  padding: 20px;
  opacity: 0.7;
  border-radius: 20px;
}

.WebsiteButton {
  text-decoration: none;
  background-color: seagreen;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  margin-left: 0%;
  margin-top: -35px;
  font-size: 10px;
}

.WebsiteButton:hover {
  color: BROWN;
}

.LoggingInButton:hover {
  color: BROWN;
}

.textInTweet {
  color: black;
  z-index: 1;
}
.tweet {
  margin-top: 2vh;
}

.tweetBox {
  word-break: break-word;
overflow-wrap: break-word;
white-space: normal;
  width: 30vw;
  min-height: 20vh;
  background-color: gray;
  margin: 3vh auto;
  padding: 10px;
  border-radius: 10px;
  position: relative; 
}

.naamInTweet {
  margin-left: 5%;
  font-weight: bold;
}

.textInTweet {
  color: black;
  margin: 10px 5%;
  word-wrap: break-word;
  z-index: 1;
}

.filled_Heart {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 5%;
  cursor: pointer;
}

.filled_Heart {
  display: none;
}

.likeCounter {
  font-size: 12px;
  color: white;
  margin-left: 10px;
}


.makeChirpButton {
  cursor: pointer;
  text-decoration: none;
  background-color: skyblue;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  margin-left: 0;
  margin-top: 2%;
  font-size: 10px;
}

.viewChirpsButton {
  cursor: pointer;
  text-decoration: none;
  background-color: skyblue;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
  position: static;
  margin-right: 0;
  margin-top: 20%;
  font-size: 10px;
}

.changeProfilePictureButton {
  cursor: pointer;
  text-decoration: none;
  background-color: skyblue;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  margin-left: 0;
  margin-top: 5%;
  font-size: 10px;
}

.choosePhotoButton {
  cursor: pointer;
  text-decoration: none;
  background-color: skyblue;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  margin-left: -14%;
  margin-top: 30%;
  font-size: 10px;
}

.makeChirpifyBox {
  margin-left: 0;
  margin-top: 5%;
  position: absolute;
  padding: 50px;
  resize: none;
}

.ProfilePicImages{
  width: 100px;
  height: 100px;

  border-radius: 100%;
}

.imageLink{
  visibility: hidden;
}
.profileContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profilePicture{
  position: static;
  height: 90px;
  width: 90px;
}

.tweetProfilePicture{
  position: absolute;
margin-left: 150px;
margin-top: 3px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
}

a{
  text-decoration: none;
  padding: 5px;
  background-color: rosybrown;
  border-radius: 15px;

  color: white;
}

a:hover{
  color: black;
}

.cuteDuck{
  width: 250px;
  height: 250px;
  position: absolute;
  margin-left: 340px;
  margin-top: 134px;
}

.addImageButton{
  position: absolute;
  left: 30%;
  bottom: 58%;
}

.likeCounter{
  position: absolute;
  margin-top: 5px;
}

.deleteButton{
  position: absolute;
  bottom: 0;
  right: 0;
}

.tweetText{
  position: absolute;
}

.ChurpifyLogo{
  width: 150px;
  height: 150px;
}